<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gary</title>
</head>
<body>
    <p>
        <a href="{% url 'learning_logs:index' %}">Learning Log Home</a> -
        <a href="{% url 'learning_logs:topics' %}">Topics</a> -
        {% if user.is_authenticated %}
          Hi, {{ user.username }}.
          <a href="{% url 'users:logout' %}">登出请按我</a>
        {% else %}
        <a href="{% url 'users:register' %}">赶快注册加入！</a>
        <a href="{% url 'users:login' %}">登录吧</a>
        {% endif %}
    </p>
    <h1>Hello World!</h1>
    <p>This is my learning log.</p>
    <p>It's very important for real</p>
    {% block content %}{% endblock content %}
</body>
</html>