{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <div class="jumbotron">
        <h1>记录你的生活</h1>
        <p>你可以在这里写下每日的点点滴滴。</p>
        <p class="lead">
            {% buttons %}
            <a class="btn btn-info btn-small " href="{% url 'learning_logs:topics' %}" role="button">了解更多{% bootstrap_icon "heart" %}</a>
            {% endbuttons %}
        </p>
    </div>
{% endblock header %}

{% block content %}
    <h3>
        <a href="{% url 'users:register' %}">创建账户</a> 来建立你自己的笔记专区。
    </h3>
    <h3>
        无论是手机还是电脑设备，你都可以轻松记录下每日心得。
    </h3>
{% endblock content %}